[submodule "webserver/static/mapbox-gl-draw-circle"]
	path = webserver/static/mapbox-gl-draw-circle
	url = https://github.com/ISPToolbox/mapbox-gl-draw-circle.git
[submodule "webserver/static/potree"]
	path = webserver/static/potree
	url = https://github.com/potree/potree.git
